<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <clear />
        <add name="Default" type="CuttingEdge.Conditions.UnitTests.UnitTestTraceListener, CuttingEdge.Conditions.UnitTests" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
